@font-face {
  font-family: "RetrokiaCaps";
  src: url("fonts/RetrokiaCapsRough.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand Bold";
  src: url("fonts/Quicksand_Bold.otf") format("opentype");
}

body {
  font-family: "Quicksand Bold";
  background: no-repeat url(images/melon.png) -70px 100px,
              no-repeat url(images/kite.png) calc(100vw - 180px) 80px,
              no-repeat url(images/olives.png) -70px 500px / 250px auto,
              no-repeat url(images/gboy.png) calc(100vw - 200px) 950px / 200px auto,
              no-repeat url(images/dice.png) -120px 1250px / 250px auto,
              no-repeat url(images/brush.png) calc(100vw - 200px) 1550px,
              no-repeat url(images/gpad.png) -70px 2200px / 250px auto,
              no-repeat url(images/dove.png) calc(100vw - 200px) 2200px / 250px auto,
			  #d2c8b4;
  color: #403f3f;
}

h1,
h2 {
  font-family: "RetrokiaCaps";
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.7), 5px 5px 0px rgba(168, 160, 144, 0.7);
}

h3 {
  font-family: "RetrokiaCaps";
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7), 3px 3px 0px rgba(168, 160, 144, 0.7);
}

h2 {
  margin-left: -100px;
}

h1 {
  font-size: 6rem;
}

.h1bis {
  font-size: 2.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

.container {
  max-width: 60vw;
}

.custom-title {
  font-size: 6rem;
  display: grid;
  justify-content: center;
}

.custom-title .second-part {
  display: block;
  font-size: 0.5em;
}

a:has(> .custom-title) {
  color: inherit;
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.supported-by {
  margin: 30px;
  max-height: 110px;
  max-width: 160px;
  filter: brightness(0) saturate(100%) invert(17%) sepia(11%) saturate(421%) hue-rotate(0deg) brightness(91%) contrast(85%);
}

@media (max-width: 1000px) {
  .text-center {
    flex-direction: column;
    align-items: center;
  }

  h1,
  h2 {
    text-align: center;
  }

  h2 {
    margin-top: 7rem;
    font-size: 4rem;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  body {
    text-align: center;
    font-size: 1.4rem;
  }

  .supported-by-no-color {
    margin: 30px;
    max-height: 110px;
    max-width: 160px;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 15px;
  }

  .newsletter-form input[type="email"] {
    width: 280px;
    max-width: 90%;
  }

  .newsletter-section {
    margin: 30px 0;
    padding: 20px;
  }
}

.newsletter-section {
  background-color: rgb(216, 208, 191);
  padding: 25px;
  border-radius: 10px;
  margin: 40px 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter-form input[type="email"] {
  font-family: "RetrokiaCaps";
  font-size: 18px;
  padding: 12px 15px;
  border: 2px solid #b0504f;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #403f3f;
  width: 250px;
  margin: 0;
}

.newsletter-form input[type="email"]:focus {
  outline: none;
  border-color: #5d835b;
  background-color: white;
}

.newsletter-form input[type="submit"] {
  background-color: #b0504f;
  border-color: #b0504f;
  color: white;
  font-family: "RetrokiaCaps";
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin: 0;
}

.newsletter-form input[type="submit"]:hover {
  background-color: #5d835b;
  border-color: #5d835b;
}

.project-grid {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-content: center;
}

.project-grid > * > a:first-child {
  margin: 0;
  font-weight: bold;
}

.contact-grid {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-content: center;
}

.action-grid {
  display: grid;
  justify-content: center;
}

.action-group {
  padding: 1.5rem;
  border: 2px solid #b0504f;
  border-radius: 10px;
  background-color: rgb(216, 208, 191);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-group p {
  margin-bottom: 1rem;
  font-size: 1.1em;
  line-height: 1.6;
  color: #403f3f;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-btn {
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "RetrokiaCaps";
  font-size: 18px;
  background-color: #b0504f;
  border: 2px solid #b0504f;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  min-width: 120px;
  margin: 1rem 0;
}

.custom-btn:hover {
  background-color: #5d835b;
  border-color: #5d835b;
}

.press-release-date {
  font-weight: bold;
  color: #403f3f;
  margin-bottom: 20px;
}

.press-header {
  background-color: rgb(216, 208, 191);
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #b0504f;
  margin-bottom: 30px;
}

.game-image {
  width: 100%;
  /* max-width: 400px; */
  /* height: 200px; */
  object-fit: cover;
  border-radius: 8px;
  margin: 15px 0;
  border: 2px solid #403f3f;
}

.game-thumbnail {
  width: 12vw;
  object-fit: cover;
  border-radius: 8px;
  margin: 5px auto;
  border: 2px solid #403f3f;
}

.project-title {
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
}

.project-menu {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 20vw;
  background-color: #009736;
  border-right: black solid;
  border-bottom: black solid;
  border-radius: 0 0 2em 0;
  padding: 12px;
  transform-origin: 0;
  transition: transform 0.3s;
  overflow: clip;
}

.project-menu h3 {
  color: #000000;
}

.project-menu-toggle {
  position: fixed;
  z-index: 21;
  left: 20vw;
  top: 0;
  width: 1.5em;
  height: 3em;
  background-image: url('images/ButtonHide.png');
  background-size: 100% 100%;
  transition: left 0.3s;
}

.disable-transition {
  transition: none;
}

.project-button {
  display: block;
  text-align: left;
  font-size: 1.2em;
  color: #ffffff;
  cursor: pointer;
  margin: 0.5em 2px;
  border: none;
  background-color: transparent;
}

.project-button:hover,
.project-button:focus {
  outline: none;
}

.project-button:hover:not(.selected-project),
.project-button:focus:not(.selected-project) {
  color: #dddddd;
  text-decoration: underline;
}

.selected-project {
  color: #ee2a35;
  -webkit-text-stroke: thin #000000;
  text-decoration: none;
}

.press-kit {
  display: flex;
  text-align: center;
  background-color: rgb(2 123 255);
  margin: 50px auto;
  justify-content: center;
}
